<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <%= link_to 'プライバシーポリシー', "#", class:'second-fotter-text' %>
    <%= link_to 'TRIP SHARES利用規約', "#", class:'second-fotter-text' %>
    <%= link_to 'TRIP SHARESガイド', "#", class:'second-fotter-text' %>
  </div>
  <%= link_to 'TRIP SHARES', "/", class:"second-fotter-logo"%>
</footer>