/* border-bottom: 1px solid #eee; */

.posts-contents {
  background-color: #f5f5f5;
  background-image: url(/images/phone.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.posts-header {
  padding: 5vh 0;
  text-align: center;
}

.posts-main {
  background-color: rgba(250, 250, 250, 0.3);
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.posts-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #4b4b4b;
  text-shadow: -3px 0 0 white;
}

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}
/* /共通 */

/* 出品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}
/* /出品画像 */

/* 商品名と商品説明 */
.new-items {
  padding: 2vh 0;
}

.posts-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.posts-explain {
  margin-top: 2vh;
}
/* /商品名と商品説明 */

/* 商品の詳細など */
.posts-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.posts-detail>.form {
  width: 300px;
  padding: 2vh 0;
}

.select-box {
  margin: 2vh 0;
}
/* /商品の詳細など */

/* 下部ボタン */
.post-btn-contents {
  width: 100%;
  text-align: center;
}

.post-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
  border-radius: 15px;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  border-radius: 15px;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}
/* /下部ボタン */

.posts-footer {
  width: 60vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}