/* 投稿の概要 */
.post-show {
  background-image: url(/images/color1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.post-box {
  background-color: rgba(255, 255, 255, 0.5);
  width: 60vw;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.post-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.post-box-img {
  height: 70vh;
  width: 40vw;
  min-height: 500px;
  background-color: rgb(3, 3, 3);
  object-fit: contain;
}

.post-red-btn {
  text-align: center;
  background-color: #f75e56;
  box-shadow: 0 7px red;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.post-red-btn:active{
  position: relative;
  top: 7px;
  box-shadow: none;
}

.or-text {
  font-size: 20px;
}

.post-destroy {
  background-color: lightgray;
  box-shadow: 0 7px rgb(182, 181, 181);
  text-align: center;
  font-size: 24px;
  color: black;
  margin-top: 20px;
  padding: 2vh 10vw;
}

.post-destroy:active{
  position: relative;
  top: 7px;
  box-shadow: none;
}

.post-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-post {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  width: 40vw;
  padding: 5px 0 15px 0;
  background-color: white;
}

.favorite-btn {
  color: rgb(249, 75, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  padding-left: 10px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 25px;
  padding: 0 0 0 10px;
}

.nickname {
  font-weight: bold;
  font-size: 25px;
  padding: 0 0 0 10px;
}

.posting {
  height: 100%;
  width: 40vw;
  background-color: white;
  padding: 0 0 10px 10px;
}

.post-name {
  font-weight: bold;
  font-size: 25px;
}

.post-description {
  font-size: 20px;
}

.post-img-content {
  background-color: white;
}
/* /投稿の概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
  margin-top: 20px;
}

.comment-btn {
  line-height: 48px;
  background-color: #3cce91;
  border: 1px solid #3cce91;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

/* .comment-sub-box {
  border: 1px solid black;
} */

.comments {
  height: 100px;
  width: 300px;
  overflow: auto;
  /* border: 1px solid black; */
}

h4 {
  border-bottom: 1px solid black;
}

.comment-list {
  display: flex;
  /* padding-left: 110px; */
}

.attention {
  margin-bottom: 10px;
  color: #f75e56;
}

.change-post-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-post {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}