/* My投稿一覧 */
.my-post-contents {
  background-image: url(/images/desk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.my-post-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 30px ;
}

.my-post-contents>.subtitle {
  font-size: 3vh;
  margin: 5vh 0 1vh 0;
  padding: 0 5px;
  text-decoration: none;
  color: #4b4b4b;
  text-shadow: -3px 0 0 white;
  font-weight: bold;
  background-color: wheat;
  box-shadow: 0 7px rgb(243, 209, 145);
}

.my-post-contents>.subtitle:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/* 検索フォーム部分 */
.my-search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 30px 0;
}

.my-search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}
/* //検索フォーム部分 */

/* //My投稿一覧 */